{%extends 'main.html'%} {%block content%} {% if page == 'login' %}

<div>
  <form action="" method="POST">
    {%csrf_token%}
    <label for="username">Username</label>
    <input
      type="text"
      name="username"
      placeholder="Enter Username..."
      required
    />

    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      placeholder="Enter Password..."
      required
    />

    <input type="submit" name="" id="" value="login" />
  </form>
  <p>Haven't Signed Up!</p>
  <button><a href="{%url 'register'%}"> Sign Up </a></button>
</div>

{% else %}

<div>
  <form method="POST" action="">
    {%csrf_token%} {{form.as_p}}
    <input type="submit" value="Sign-Up" />
  </form>
  <p>Already Signed Up!</p>
  <button><a href="{%url 'login'%}"> Login </a></button>
</div>

{% endif %} {%endblock%}
